In [1]:
import pandas as pd

In [2]:
nsw12_14 = pd.read_excel('nsw 2012-14 air data.xls', sheet_name=0, skiprows=[0,1], header=0)

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [3]:
nsw15_16 = pd.read_excel('nsw 2015-16 air data.xls', sheet_name=0, skiprows=[0,1], header=0)

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [4]:
nsw17_18 = pd.read_excel('nsw site avg 2017-18 air data.xls', sheet_name=0, skiprows=[0,1], header=0)

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [5]:
frames = [nsw12_14, nsw15_16, nsw17_18]
data = pd.concat(frames)

In [6]:
data.head()

,Date,RANDWICK SO2 24h average [pphm],ROZELLE SO2 24h average [pphm],LINDFIELD SO2 24h average [pphm],LIVERPOOL SO2 24h average [pphm],BRINGELLY SO2 24h average [pphm],CHULLORA SO2 24h average [pphm],WYONG SO2 24h average [pphm],WALLSEND SO2 24h average [pphm],CARRINGTON SO2 24h average [pphm],...,ST MARYS PM10 24h average [µg/m³],VINEYARD PM10 24h average [µg/m³],BATHURST PM10 24h average [µg/m³],PORT KEMBLA STEELWORKS PM10 24h average [µg/m³],PARRAMATTA NORTH PM10 24h average [µg/m³],MACARTHUR PM10 24h average [µg/m³],OAKDALE PM10 24h average [µg/m³],ALBION PARK STH PM10 24h average [µg/m³],PROSPECT PM10 24h average [µg/m³],MUSWELLBROOK PM10 24h average [µg/m³]
0,01/01/2012,0.1,NaN,0.0,NaN,0.1,0.1,NaN,0.2,NaN,...,13.4,15.7,13.9,NaN,NaN,17.4,14.5,20.6,NaN,20.6
1,02/01/2012,0.0,NaN,0.0,NaN,0.1,0.1,NaN,0.1,NaN,...,15.7,14.1,19.1,NaN,NaN,15.4,16.0,18.0,NaN,21.1
2,03/01/2012,0.0,NaN,0.1,NaN,0.1,0.1,NaN,0.2,NaN,...,17.6,14.8,24.0,NaN,NaN,18.2,16.9,25.1,NaN,25.9
3,04/01/2012,0.1,NaN,0.1,NaN,0.0,0.1,NaN,0.2,NaN,...,23.4,24.4,21.3,NaN,NaN,28.0,17.6,35.9,NaN,38.7
4,05/01/2012,0.0,NaN,0.0,NaN,0.1,0.0,NaN,0.0,NaN,...,32.0,29.1,17.2,NaN,NaN,33.9,25.6,32.6,NaN,31.4

In [7]:
dropna = data.dropna(axis=1, how='all')

In [8]:
dropna

,Date,RANDWICK SO2 24h average [pphm],ROZELLE SO2 24h average [pphm],LINDFIELD SO2 24h average [pphm],LIVERPOOL SO2 24h average [pphm],BRINGELLY SO2 24h average [pphm],CHULLORA SO2 24h average [pphm],WYONG SO2 24h average [pphm],WALLSEND SO2 24h average [pphm],CARRINGTON SO2 24h average [pphm],...,ST MARYS PM10 24h average [µg/m³],VINEYARD PM10 24h average [µg/m³],BATHURST PM10 24h average [µg/m³],PORT KEMBLA STEELWORKS PM10 24h average [µg/m³],PARRAMATTA NORTH PM10 24h average [µg/m³],MACARTHUR PM10 24h average [µg/m³],OAKDALE PM10 24h average [µg/m³],ALBION PARK STH PM10 24h average [µg/m³],PROSPECT PM10 24h average [µg/m³],MUSWELLBROOK PM10 24h average [µg/m³]
0,01/01/2012,0.1,NaN,0.0,NaN,0.1,0.1,NaN,0.2,NaN,...,13.4,15.7,13.9,NaN,NaN,17.4,14.5,20.6,NaN,20.6
1,02/01/2012,0.0,NaN,0.0,NaN,0.1,0.1,NaN,0.1,NaN,...,15.7,14.1,19.1,NaN,NaN,15.4,16.0,18.0,NaN,21.1
2,03/01/2012,0.0,NaN,0.1,NaN,0.1,0.1,NaN,0.2,NaN,...,17.6,14.8,24.0,NaN,NaN,18.2,16.9,25.1,NaN,25.9
3,04/01/2012,0.1,NaN,0.1,NaN,0.0,0.1,NaN,0.2,NaN,...,23.4,24.4,21.3,NaN,NaN,28.0,17.6,35.9,NaN,38.7
4,05/01/2012,0.0,NaN,0.0,NaN,0.1,0.0,NaN,0.0,NaN,...,32.0,29.1,17.2,NaN,NaN,33.9,25.6,32.6,NaN,31.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,28/12/2017,0.1,0.2,0.4,0.1,0.1,0.2,0.6,0.3,0.1,...,15.4,NaN,17.3,NaN,20.8,NaN,14.8,23.9,19.4,19.4
362,29/12/2017,0.1,0.2,0.3,0.2,0.2,0.3,0.2,0.3,0.3,...,23.7,NaN,20.0,NaN,26.6,NaN,18.2,27.9,25.5,20.7
363,30/12/2017,0.1,0.1,0.1,0.1,0.0,0.0,0.1,0.2,0.2,...,17.0,NaN,9.1,NaN,19.9,NaN,12.1,16.3,16.8,23.3
364,31/12/2017,0.0,0.0,0.0,0.0,0.1,0.0,0.1,0.0,0.5,...,24.4,NaN,11.9,NaN,27.5,NaN,23.3,20.1,26.7,24.9
365,01/01/2018,0.1,0.1,0.1,0.0,0.1,0.0,0.0,0.1,0.1,...,23.5,NaN,14.4,NaN,26.1,NaN,21.2,18.1,25.8,27.5

In [9]:
names = dropna.columns.values

In [10]:
pm10 = [x for x in names if 'PM10' in x]

In [11]:
pm10_df = dropna[dropna.columns.intersection(pm10)]

In [12]:
pm10_df_fillna = pm10_df.copy()

In [13]:
pm10_df_fillna.fillna(pm10_df_fillna.mean(), inplace=True)

In [14]:
pm10_df_fillna

,RANDWICK PM10 24h average [µg/m³],ROZELLE PM10 24h average [µg/m³],LINDFIELD PM10 24h average [µg/m³],LIVERPOOL PM10 24h average [µg/m³],BRINGELLY PM10 24h average [µg/m³],CHULLORA PM10 24h average [µg/m³],EARLWOOD PM10 24h average [µg/m³],WYONG PM10 24h average [µg/m³],WALLSEND PM10 24h average [µg/m³],CARRINGTON PM10 24h average [µg/m³],...,ST MARYS PM10 24h average [µg/m³],VINEYARD PM10 24h average [µg/m³],BATHURST PM10 24h average [µg/m³],PORT KEMBLA STEELWORKS PM10 24h average [µg/m³],PARRAMATTA NORTH PM10 24h average [µg/m³],MACARTHUR PM10 24h average [µg/m³],OAKDALE PM10 24h average [µg/m³],ALBION PARK STH PM10 24h average [µg/m³],PROSPECT PM10 24h average [µg/m³],MUSWELLBROOK PM10 24h average [µg/m³]
0,19.9,17.0,13.9,24.6,18.8,18.0,20.7,15.808485,14.0,23.75316,...,13.4,15.700000,13.9,30.397458,19.127381,17.4000,14.5,20.6,18.251333,20.6
1,15.5,13.0,12.5,17.7,16.3,15.1,15.8,15.808485,11.2,23.75316,...,15.7,14.100000,19.1,30.397458,19.127381,15.4000,16.0,18.0,18.251333,21.1
2,17.8,15.3,15.0,23.4,21.7,16.6,19.2,15.808485,13.2,23.75316,...,17.6,14.800000,24.0,30.397458,19.127381,18.2000,16.9,25.1,18.251333,25.9
3,32.1,29.4,26.0,29.1,27.9,28.6,38.0,15.808485,22.6,23.75316,...,23.4,24.400000,21.3,30.397458,19.127381,28.0000,17.6,35.9,18.251333,38.7
4,32.3,34.7,32.3,40.1,34.6,34.4,36.4,15.808485,26.4,23.75316,...,32.0,29.100000,17.2,30.397458,19.127381,33.9000,25.6,32.6,18.251333,31.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,21.4,19.9,16.7,21.5,19.5,21.3,19.8,17.900000,19.1,32.00000,...,15.4,15.909907,17.3,30.397458,20.800000,12.6435,14.8,23.9,19.400000,19.4
362,29.7,25.8,21.8,26.6,25.4,26.3,23.5,21.700000,21.2,31.20000,...,23.7,15.909907,20.0,30.397458,26.600000,12.6435,18.2,27.9,25.500000,20.7
363,18.5,17.2,16.0,20.9,17.6,16.4,16.6,13.900000,12.6,18.60000,...,17.0,15.909907,9.1,30.397458,19.900000,12.6435,12.1,16.3,16.800000,23.3
364,33.3,36.8,25.9,28.7,26.6,25.8,31.9,25.100000,24.3,30.80000,...,24.4,15.909907,11.9,30.397458,27.500000,12.6435,23.3,20.1,26.700000,24.9
365,25.0,24.7,24.3,25.6,25.0,23.4,24.1,22.800000,20.4,25.90000,...,23.5,15.909907,14.4,30.397458,26.100000,12.6435,21.2,18.1,25.800000,27.5

In [15]:
pm10_df_fillna['mean'] = pm10_df_fillna.mean(axis=1)

In [16]:
pm10_df_fillna

,RANDWICK PM10 24h average [µg/m³],ROZELLE PM10 24h average [µg/m³],LINDFIELD PM10 24h average [µg/m³],LIVERPOOL PM10 24h average [µg/m³],BRINGELLY PM10 24h average [µg/m³],CHULLORA PM10 24h average [µg/m³],EARLWOOD PM10 24h average [µg/m³],WYONG PM10 24h average [µg/m³],WALLSEND PM10 24h average [µg/m³],CARRINGTON PM10 24h average [µg/m³],...,VINEYARD PM10 24h average [µg/m³],BATHURST PM10 24h average [µg/m³],PORT KEMBLA STEELWORKS PM10 24h average [µg/m³],PARRAMATTA NORTH PM10 24h average [µg/m³],MACARTHUR PM10 24h average [µg/m³],OAKDALE PM10 24h average [µg/m³],ALBION PARK STH PM10 24h average [µg/m³],PROSPECT PM10 24h average [µg/m³],MUSWELLBROOK PM10 24h average [µg/m³],mean
0,19.9,17.0,13.9,24.6,18.8,18.0,20.7,15.808485,14.0,23.75316,...,15.700000,13.9,30.397458,19.127381,17.4000,14.5,20.6,18.251333,20.6,18.892311
1,15.5,13.0,12.5,17.7,16.3,15.1,15.8,15.808485,11.2,23.75316,...,14.100000,19.1,30.397458,19.127381,15.4000,16.0,18.0,18.251333,21.1,18.192311
2,17.8,15.3,15.0,23.4,21.7,16.6,19.2,15.808485,13.2,23.75316,...,14.800000,24.0,30.397458,19.127381,18.2000,16.9,25.1,18.251333,25.9,20.185644
3,32.1,29.4,26.0,29.1,27.9,28.6,38.0,15.808485,22.6,23.75316,...,24.400000,21.3,30.397458,19.127381,28.0000,17.6,35.9,18.251333,38.7,27.265644
4,32.3,34.7,32.3,40.1,34.6,34.4,36.4,15.808485,26.4,23.75316,...,29.100000,17.2,30.397458,19.127381,33.9000,25.6,32.6,18.251333,31.4,29.335644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,21.4,19.9,16.7,21.5,19.5,21.3,19.8,17.900000,19.1,32.00000,...,15.909907,17.3,30.397458,20.800000,12.6435,14.8,23.9,19.400000,19.4,21.311695
362,29.7,25.8,21.8,26.6,25.4,26.3,23.5,21.700000,21.2,31.20000,...,15.909907,20.0,30.397458,26.600000,12.6435,18.2,27.9,25.500000,20.7,24.251695
363,18.5,17.2,16.0,20.9,17.6,16.4,16.6,13.900000,12.6,18.60000,...,15.909907,9.1,30.397458,19.900000,12.6435,12.1,16.3,16.800000,23.3,17.905029
364,33.3,36.8,25.9,28.7,26.6,25.8,31.9,25.100000,24.3,30.80000,...,15.909907,11.9,30.397458,27.500000,12.6435,23.3,20.1,26.700000,24.9,25.155029
365,25.0,24.7,24.3,25.6,25.0,23.4,24.1,22.800000,20.4,25.90000,...,15.909907,14.4,30.397458,26.100000,12.6435,21.2,18.1,25.800000,27.5,22.838362

In [17]:
pm10_mean = pd.DataFrame()

In [18]:
pm10_mean['Date'] = dropna['Date']
pm10_mean['PM10']=pm10_df_fillna.mean(axis=1)

In [19]:
mean = pd.DataFrame()
mean['Date'] = dropna['Date']
mean['PM10']=pm10_df_fillna.mean(axis=1)

In [20]:
no2 = [x for x in names if 'NO2' in x]
no2_df = dropna[dropna.columns.intersection(no2)]
no2_df_fillna = no2_df.copy()
no2_df_fillna.fillna(no2_df_fillna.mean(), inplace=True)
mean['NO2'] = no2_df_fillna.mean(axis=1)

In [21]:
ozone = [x for x in names if 'OZONE' in x]
ozone_df = dropna[dropna.columns.intersection(ozone)]
ozone_df_fillna = ozone_df.copy()
ozone_df_fillna.fillna(ozone_df_fillna.mean(), inplace=True)
mean['OZONE'] = ozone_df_fillna.mean(axis=1)

In [22]:
mean.to_excel('nsw avg all particles 2012-2017.xlsx', sheet_name='NSW', index=False)