## MySQL 1452 error

* MySQL 1452 error indicates that there is a conflict between child and parent foreign key. It is likely that the child foreign key doesn't exist in the parent primary key

In [1]:
import pandas as pd

In [2]:
parent_tip = pd.read_excel('Disease table by team.xlsx', sheet_name = 'Tip', header=0)

In [4]:
parent_disease = pd.read_excel('Disease table by team.xlsx', sheet_name = 'Disease', header=0)

In [5]:
child = pd.read_excel('Disease table by team.xlsx', sheet_name = 'Disease_Tip', header=0)

In [8]:
child

     DISEASE_ID  SEASON_ID  TIP_ID
0         10001          1  100001
1         10001          2  100001
2         10001          3  100001
3         10001          4  100001
4         10001          1  100002
..          ...        ...     ...
151       10015          4  100038
152       10015          1  100039
153       10015          2  100039
154       10015          3  100039
155       10015          4  100039

[156 rows x 3 columns]

In [10]:
child['SEASON_ID'].unique()

array([1, 2, 3, 4], dtype=int64)

In [11]:
child_tip = child['TIP_ID']

In [12]:
parent_tipID = parent_tip['TIP_ID']

In [14]:
tip_ID_difference = set(child_tip) - set(parent_tipID)
tip_ID_difference

{100024}

In [15]:
child_disease = child['DISEASE_ID']
parent_diseaseID = parent_disease['DISEASE_ID']
disease_ID_difference = set(child_disease) - set(parent_diseaseID)

In [16]:
disease_ID_difference

set()